# Misc
*~
.#*
dependency-reduced-pom.xml
.DS_Store
data/
tmp/
*.sw[op]
classes/
.new-relic/
test.log
logs/
work/
target/
.bower-*

# IDEA
*.iml
*.ipr
*.iws
.idea

# Gradle
.gradle
build
/buildut
/resources

venv
bin